@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, sans-serif;
}

button {
  cursor: pointer;
}
